<aside class="sidebar">
  <nav class="nav-section">
    <p class="nav-label">Main Menu</p>
    <a [routerLink]="route.dashboard()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
      <span class="material-symbols-outlined">dashboard</span>
      <span>Overview</span>
    </a>

    <div *ngFor="let action of actions">
      <a *hasPermission="action.permissionRequired" [routerLink]="action.routePath" routerLinkActive="active" class="nav-item">
        <span class="material-symbols-outlined">{{action.icon}}</span>
        <span>{{action.label}}</span>
      </a>
    </div>

    <a *hasPermission="'ui-action:manage'" [routerLink]="route.uiActions()" class="nav-item">
      <span class="material-symbols-outlined">account_balance_wallet</span>
      <span>Ui Actions</span>
    </a>
    <!--<a href="#" class="nav-item">
    <span class="material-symbols-outlined">tune</span>
    <span>System Settings</span>
  </a>
  <a href="#" class="nav-item">
    <div class="icon-with-badge">
      <span class="material-symbols-outlined">confirmation_number</span>
      <span class="badge-dot"></span>
    </div>
    <span>Support Tickets</span>
  </a>-->
  </nav>
</aside>
