  <header class="header">
    <div class="header-left">
      <div class="logo">
        <span class="material-symbols-outlined">layers</span>
        <h2>Ticket-H</h2>
      </div>

      <div class="search-container">
        <div class="search-box" (click)="$event.stopPropagation()">
          <span class="material-symbols-outlined">search</span>
          <input type="text"
                 [(ngModel)]="searchKeyword"
                 (input)="onSearch()"
                 (focus)="isDropdownSOpen = true"
                 placeholder="Search menu..." />

          <!-- Dropdown -->
          <div class="search-dropdown" *ngIf="isDropdownSOpen && filteredActions.length > 0">

            <ng-container *ngFor="let action of filteredActions">

              <button class="search-item"
                      *hasPermission="action.permissionRequired"
                      (click)="navigate(action)">
                <span class="material-symbols-outlined">{{ action.icon }}</span>
                {{ action.label }}
              </button>

            </ng-container>
            
          </div>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="actions">
        <button class="icon-btn"><span class="material-symbols-outlined">notifications</span></button>
        <button class="icon-btn"><span class="material-symbols-outlined">settings</span></button>
      </div>
      <div class="divider"></div>
      <div class="user-profile" (click)="toggleDropdown($event)">
        <div class="user-info">
          <p class="user-name">Admin User</p>
          <p class="user-role">System Manager</p>
        </div>
        <div class="avatar">
          <span class="material-symbols-outlined">shield_person</span>
        </div>

        <div class="user-dropdown" *ngIf="isDropdownOpen" (click)="$event.stopPropagation()">
          <button class="dropdown-item" (click)="goProfile()">
            <span class="material-symbols-outlined">person</span>
            Profile
          </button>

          <button class="dropdown-item" (click)="logout()">
            <span class="material-symbols-outlined">logout</span>
            Logout
          </button>
        </div>
      </div>
    </div>
  </header>

